{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row w-100 justify-content-center">
        {% for role in roles %}
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow-lg">
                <div class="card-body d-flex flex-column justify-content-center align-items-center" style="height: 450px;">
                    <h3 class="card-title mb-4">{{ role.get_name_display }}</h3>
                    {% if role.name == "student" %}
                        <a href="{% url 'student-login' %}" class="btn btn-light btn-lg w-75 d-flex justify-content-center align-items-center" style="height: 350px;">
                    {% elif role.name == "teacher" %}
                        <a href="{% url 'teacher-login' %}" class="btn btn-light btn-lg w-75 d-flex justify-content-center align-items-center" style="height: 350px;">
                    {% else %}
                        <a href="{% url 'login' %}?user_type={{ role.name }}" class="btn btn-light btn-lg w-75 d-flex justify-content-center align-items-center" style="height: 350px;">
                    {% endif %}
                        <img src="{{ role.image.url }}" alt="{{ role.get_name_display }}" style="height:180px; width:auto; max-width:100%; object-fit:contain;">
                        </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    </small>
</div>
{% endblock content %}