{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height:60vh;">
    <div class="row w-100 justify-content-center">
        {% for role in roles %}
        <div class="col-md-4 mb-4 text-center">
            <a href="{% url 'register-role' role.name %}" class="d-block">
                <img src="{{ role.image.url }}" alt="{{ role.get_name_display }}" style="height:200px; width:auto; max-width:100%; object-fit:contain;">
                <h5 class="mt-2">{{ role.get_name_display }}</h5>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
