<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/courses/styles.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Courses</a>
                <div class="dropdown-content">
                    {% for course in courses %}
                        <div class="dropdown">
                            <a href="#" class="dropbtn">{{ course.title }}</a>
                            <div class="dropdown-content">
                                {% for lesson in course.lessons.all %}
                                    <div class="dropdown">
                                        <a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.title }}</a>
                                        <div class="dropdown-content">
                                            {% for task in lesson.tasks.all %}
                                                <a href="#">{{ task.title }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
    </nav>
    <script src="{% static 'js/dropdown.js' %}"></script>
</body>
</html>